.flex {

    display: flex;
    justify-content: space-around;
}

.vize-orani,
.final-orani {

    padding-left: 10px;
}

.card-footer {
    padding-top: 20px !important;
    display: flex;
    justify-content: space-between;

}

span {

    font-size: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.pass{

    border: 2px green solid;
}

.dont-pass{

    border: 2px red solid;
}

#result{

    
}